web-service-client-demo/Connected Services/DemoWebServiceReference/DemoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CariListesi">
        <s:complexType />
      </s:element>
      <s:element name="CariListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CariListesiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CariHareketListesi">
        <s:complexType />
      </s:element>
      <s:element name="CariHareketListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CariHareketListesiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CariListesiSoapIn">
    <wsdl:part name="parameters" element="tns:CariListesi" />
  </wsdl:message>
  <wsdl:message name="CariListesiSoapOut">
    <wsdl:part name="parameters" element="tns:CariListesiResponse" />
  </wsdl:message>
  <wsdl:message name="CariHareketListesiSoapIn">
    <wsdl:part name="parameters" element="tns:CariHareketListesi" />
  </wsdl:message>
  <wsdl:message name="CariHareketListesiSoapOut">
    <wsdl:part name="parameters" element="tns:CariHareketListesiResponse" />
  </wsdl:message>
  <wsdl:portType name="DemoWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CariListesi">
      <wsdl:input message="tns:CariListesiSoapIn" />
      <wsdl:output message="tns:CariListesiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CariHareketListesi">
      <wsdl:input message="tns:CariHareketListesiSoapIn" />
      <wsdl:output message="tns:CariHareketListesiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DemoWebServiceSoap" type="tns:DemoWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CariListesi">
      <soap:operation soapAction="http://tempuri.org/CariListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CariHareketListesi">
      <soap:operation soapAction="http://tempuri.org/CariHareketListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DemoWebServiceSoap12" type="tns:DemoWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CariListesi">
      <soap12:operation soapAction="http://tempuri.org/CariListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CariHareketListesi">
      <soap12:operation soapAction="http://tempuri.org/CariHareketListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoWebService">
    <wsdl:port name="DemoWebServiceSoap" binding="tns:DemoWebServiceSoap">
      <soap:address location="http://localhost:54419/DemoWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DemoWebServiceSoap12" binding="tns:DemoWebServiceSoap12">
      <soap12:address location="http://localhost:54419/DemoWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>